@import url("../css/default.css");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--bs-gray-200);
}
main {
  width: 100%;
  max-width: 960px;
  max-height: 80vmin;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--theme-white);
  border-radius: 1rem;
}
.form-container {
  width: 56%;
  border-radius: 1rem 0 0 1rem;
}
.form-container .header .brand {
  display: block;
  font-family: "Roboto Bold";
  font-weight: 600;
  font-size: calc(24px + .8vw);
  color: var(--theme-main);
  text-decoration: none;
}
.form-container .header .brand .fa {
  font-size: calc(4px + .4vw) !important;
  color: var(--theme-light-alt);
}
.form-container .header .brand + div {
  font-family: "Roboto";
}
.form-container .header .title {
  font-family: "Roboto";
  font-size: calc(20px + .4vw);
}
/* Form */
form {
  padding: 0 1rem;
}
form input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid var(--bs-gray-400);
  margin: .5rem 0;
  outline: none;
  transition: .4s;
  font-size: 16px;
  font-family: "Poppins Light", var(--bs-font-sans-serif);
}
form input:focus {
  border-bottom-color: var(--theme-light-alt);
}
form input.error {
  border: 2px solid var(--bs-red);
}
form input::placeholder {
  font-family: "Roboto";
  color: var(--bs-gray-800);
  font-size: 16px;
}
form .error-msg {
  color: var(--bs-red);
  font-family: "Roboto", var(--bs-font-sans-serif);
  font-size: 16px;
}
/* Forgot password - Signup link */
form p {
  font-family: "Poppins Light", var(--bs-font-sans-serif);
  font-size: calc(14px + .2vw);
}
form button[type=submit] {
  font-family: "Roboto Bold", var(--bs-font-sans-serif);
}
.illustration {
  width: 44%;
  background: var(--bs-gray-200);
  border-radius: 0px 1rem 1rem 0;
}

/* -------------------------
# Footer
-------------------------- */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--theme-light);
  padding: 12px;
  font-family: "Roboto", var(--bs-font-sans-serif);
  font-size: 16px;
}
footer > span {
  margin: 0 1rem ;
}
footer a {
  text-decoration: none;
}

/* For tablets */
@media screen and (max-width: 992px) {
  main {
    width: 80%;
    max-height: none;
  }
  .form-container {
    width: 100%;
  }
  .illustration {
    display: none;
  }
}

/* For smaller devices, mobile phones */
@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  main {
    width: 100%;
    min-height: 100%;
    max-height: none;
    border-radius: 0;
    box-shadow: none;
  }
  .form-container {
    width: 100%;
    height: 100%;
  }
  .illustration {
    display: none;
  }
}